.kanban{
    height: 90vh;
    &__container{
        height:100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    &__columns{
        border: 1px solid black;
        width:500px;
        height:40vh;
        border-radius: 2em;
    }

    &__column{
        border: 1px solid black;
        width:250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}