<div class="kanban">
    <div class="kanban__container">
        <div class="kanban__columns" *ngFor="let kanban of kanbans">
            {{kanban.title}}
            <div class="kanban__column" *ngFor="let item of kanban.items">
                {{item.description}}
            </div>
        </div>
    </div>
</div>
