$primary-color:#DD2F6E;

.sidebar{
    width:80px;
    height: 100vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color:$primary-color; 
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow: hidden;
    &__header{
        span{
            display:none;  
        }
        padding: 1em 1em 1em 1em;
        color:white;
        height:100px;   
        align-items: center;
        display: flex;
    }
    &__list{
        height:100%; 
        color:white; 
        padding-left:20px;
        ul{
            position: absolute;
            top:100px;
            left:0;
            list-style: none;
        }
        li{
            margin-top: 30px;
            a{
                display: flex;
                align-items: center;
                font-size: 20px;
                text-decoration: none;
                color: white;
            }
            .ng-fa-icon{
                min-width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
                font-size: 1.2em;
            }
        }
    }
}
.sidebar:hover{
    width:365px;
    span{
      padding: 0 1em 0 1em;
      display:inline-block;  
    }
}

.main{
    position: absolute;
    left:80px;
    top:0px;
    width: 100%;
    &__header{
        display: flex;
        justify-content: flex-end;
        margin-right: 1em;
        height: 100px;
        &__left{
            width: 40%;
            display:flex;
            justify-content: space-around;
            font-size: 1.2rem;
            align-items: center;
            .search{
               input{
                width:300px;
                padding: 0.5em 1em 0.5em 1em;
               }
            }
        }
    }
}
