<div class="sidebar">
  <div class="sidebar__header">
    <h1> <fa-icon [icon]="faCoffee"></fa-icon><span>Play Ground</span></h1>
  </div>
  <div class="sidebar__list">
    <ul>
      <li><a href='#'><fa-icon [icon]="faHome"></fa-icon>Home</a></li>
      <li><a href='#'><fa-icon [icon]="faCoffee"></fa-icon>Dash Board</a></li>
      <li><a href='#'><fa-icon [icon]="faCoffee"></fa-icon>Monitoring</a></li>
      <li><a href='#'><fa-icon [icon]="faCoffee"></fa-icon>Statistics</a></li>
      <li><a href='#'><fa-icon [icon]="faCoffee"></fa-icon>Graph</a></li>
      <li><a href='#'><fa-icon [icon]="faCoffee"></fa-icon>Add an Item</a></li>
      <li><a href='#'><fa-icon [icon]="faCoffee"></fa-icon>Log out</a></li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="main__header">
    <div class="main__header__left">
      <div class="search">
        <input type='text' placeholder="Search task"/>
      </div>
      <div class="role">
        <fa-icon [icon]="faHome"></fa-icon><span>Admin</span>
      </div>
      <div class="profile">
        <fa-icon [icon]="faHome"></fa-icon><span>Wei Xing</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="main__content">
    <app-kanban-board></app-kanban-board>
  </div>
</div>